<%- include('../partials/head') %>
  <title>Carrito de compras</title>
  </head>

  <body>
    <%- include('../partials/header') %>
      <script src="/js/productCart.js"></script>

      <main class="cart">
        <h2>PRODUCTOS EN SU CARRITO</h2>
        <div class="cart__container">
          <section class="cart__items">
            <% userShoppingCart.forEach(cartItem=> { %>
              <article class="cart__item">
                <h4 class="cart__item-name">
                  <%= cartItem.product.NameProduct %>
                </h4>
                <div class="cart__item-details">
                  <img src="/img/products/<%= cartItem.product.Image %>" alt="" class="cart__item-image" />
                  <p class="cart__item-price">$ <%= cartItem.UnitPrice %>
                  </p>
                  <p class="cart__item-qty">+ <%= cartItem.Quantity %> -</p>
                  <p class="cart__item-subtotal">$ <%= cartItem.UnitPrice * cartItem.Quantity %>
                  </p>
                </div>
              </article>
              <% }) %>
          </section>
          <section class="cart__summary">
            <div class="cart__item-details">
              <h4>Resumen de su compra</h4>
              <p class="cart__summary-count">Cantidad de productos: <%= userShoppingCart.length %>
              </p>
              <!-- Logica de calculo de en -->
              <p class="cart__summary-shipping">Envio: $ 000</p>
              <h4>Total del carrito : $ <%= total %>
              </h4>
            </div>
            <button class="cart__btn-continue" type="submit">Seguir comprando</button>
            <button class="cart__btn-checkout" type="submit">Finalizar compra</button>
          </section>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

  </html>