<%- include('../partials/head') %>

  <title>Detalles del Producto</title>
  </head>

  <body>

    <%- include('../partials/header') %>

      <h2 class="product-detail__title">Detalles del Producto</h2>

      <main class="product-detail__main">
        <div class="product-detail__card">
          <img src="/img/products/<%= product.Image %>" alt="<%= product.NameProduct %>" class="product-detail__image">
          <section class="product-detail__info">
            <h3>
              <%= product.NameProduct %>
            </h3>
            <p>Precio: $<%= product.Price %>
            </p>
            <p>
              <%= product.DescriptionProduct %>
            </p>
            <a href="/productCart"><button class="product-detail__action">COMPRAR</button></a>
            <a href="/productCart"><button class="product-detail__action">AGREGAR AL CARRITO</button></a>
          </section>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

  </html>