<%- include('../partials/head') %>
  <title>Mundo 3D</title>
  </head>

  <body>
    <%- include('../partials/header') %>

      <main class="products">
        <h2 class="page-heading">NUESTROS PRODUCTOS</h2>
        <section class="product-grid">
          <% for(let i=0; i < allProducts.length; i++) { %>
            <article class="product-card">
              <a href="/product/<%= allProducts[i].IDProduct %>">
                <div class="imagen">
                  <img src="/img/products/<%= allProducts[i].Image %>" alt="<%= allProducts[i].NameProduct %>"
                    class="product-card__image">
                </div>
                <div class="product-card__body">
                  <h3>
                    <%= allProducts[i].NameProduct %>
                  </h3>
                  <p class="product-card__price">$<%= allProducts[i].Price %>
                  </p>
                  <!-- <button>Añadir al carrito</button> -->
                </div>
              </a>
            </article>
            <% } %>
        </section>
      </main>

      <%- include('../partials/footer') %>
  </body>

  </html>